.catalog {
  margin-top: 50px;
}

.catalog__header {
  width: auto;
  margin: 0 auto;
}

.catalog__title {
  margin: 0;
  font-family: $font-head;
  font-size: 20px;
  text-align: center;
}

.catalog__sort {
  margin-top: 5px;
}
