.info-support {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;


  @media (max-width: $mobile-width-only) {
    color: $secondary-bg-color;
    background-color: $primary-text-color;
  }

  &--revers {
    color: $primary-text-color;
    background-color: $secondary-bg-color;
  }

  @media (min-width: $tablet-width) {
    width: 150px;
    margin-left: 30px;
    padding: 0;
    line-height: 14px;
  }
}

.info-support__phone {
  display: block;
  width: 100%;
  line-height: 120%;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.info-support__text {
  margin-top: 7px;
  font-size: 10px;
  line-height: 120%;
}
