.main-nav {
  position: relative;

  &--closed .main-nav__list,
  &--closed .main-nav__info {
    display: none;
  }
}

.main-nav__list {
  width: 100%;
  margin: 0;
  padding: 0;
  color: $primary-text-color;
  list-style: none;
}

.main-nav__item:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.main-nav__item:not(:last-child) {
  border-bottom: 1px solid $primary-bg-color;
}

.main-nav__info {
  margin-top: 20px;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 2px;
  background-color: $primary-text-color;
  box-shadow: 0 8px 0 0 $primary-text-color, 0 16px 0 0 $primary-text-color;
}

.main-nav--opened .main-nav__toggle {
  top: -30px;
  left: 85%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 31px;
    right: 10px;
    width: 25px;
    height: 2px;

    background-color: $primary-text-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
