.page-header {
  padding: 25px 0 210px;
  background-image: url("../img/bg-mob.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;

  @media (min-width: $tablet-width) {
    padding: 31px 0 208px;
    background-image: url("../img/bg-tablet.jpg");
  }
}

.page-header__container {
  @include container;
}
