.sorting__list {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  list-style: none;
}

.sorting__link {
  display: block;
  width: 210px;
  color: inherit;
  text-align: center;
  text-decoration: none;

  &--submenu {
    text-align: left;
  }
}

.sorting__sign {
  @include decor-btn;

  &::before {
    content: "";
    position: absolute;
    bottom: 8px;
    right: 0;
    border: 5px solid transparent;
    border-top-color: $primary-text-color;
    border-bottom: 0;
  }

  &--open::before {
    display: none;
  }

  &::after {
    display: none;
  }

  &--open::after {
    content: "";
    position: absolute;
    bottom: 5px;
    right: 0;
    display: block;
    border: 5px solid transparent;
    border-bottom-color: $primary-text-color;
    border-top: 0;
  }
}

.sorting__menu {
  @include list;
  position: absolute;
  top: 28px;
  left: 0;
  width: 100%;
  display: none;
  flex-wrap: wrap;
  background: #f3f3f3;
}

.sorting__menu-item {
  width: 100%;
  padding: 5px 33px;
  text-align: left;
}
