.user-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}

.user-list__item {
  padding: 10px 20px;
}

.user-list__select {
  font: inherit;
  color: white;
  border: none;
  background: #0d3351;
}
