@mixin container () {
  width: auto;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    max-width: 720px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1170px;
    padding: 0 15px;
  }
}

@mixin list () {
  margin: 0;
  padding: 0;
  list-style: none;
}
