$tablet-width: 750px;
$desktop-width: 1170px;
$font-head: "Roboto Slab", "Georgia", serif;
$primary-text-color: #0d3351;
$secondary-text-color: #00a2dd;
$primary-bg-color: #33c7fd;
$secondary-bg-color: #ffffff;
